name: MusicTrade Turbo Scraper

on:
  workflow_dispatch: # Umožňuje spustiť skript aj manuálne jedným klikom

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run scraper
        run: python musictrade.py

      - name: Commit and push results
        run: |
          git config --global user.name "GitHub Action Scraper"
          git config --global user.email "actions@github.com"
          git add musictrade_sklad.csv
          # Commitne zmeny len ak sa súbor zmenil, aby nehlásilo chybu
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update skladových zásob: $(date +'%Y-%m-%d %H:%M')" && git push)
