name: Scraper - MusicTrade

on:
  workflow_dispatch: # Tlačidlo na manuálne spustenie
  schedule:
    - cron: '0 8 * * *' # Daily at 5:00 AM UTC
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout kód
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          # Pridal som sem 'tqdm', aby ti skript nepadal na chybe, ktorú si mal predtým
          pip install pandas requests beautifulsoup4 lxml tqdm

      - name: Run Script
        # Tu používame názov tvojho nového skriptu
        run: python -u musictrade.py

      - name: Save CSV to repo
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          
          git add *.csv
          
          if git diff --staged --quiet; then
            echo "No changes to commit"
          else
            git commit -m "Auto-update musictrade feed $(date +'%Y-%m-%d %H:%M')"
            git pull --rebase origin main
            git push origin main
          fi
